{% extends "base.html" %}

{% block title %}Pokemon Fighter{% endblock %}

{% block content %}
<div class="mt-20 flex flex-col items-center gap-5">
  <pre class="flex justify-center rounded-lg bg-gray-100 min-w-1/2 px-7 text-xl/5 shadow-md">

                                  ,'\
    _.----.        ____         ,'  _\   ___    ___     ____
_,-'       `.     |    |  /`.   \,-'    |   \  /   |   |    \  |`.
\      __    \    '-.  | /   `.  ___    |    \/    |   '-.   \ |  |
 \.    \ \   |  __  |  |/    ,','_  `.  |          | __  |    \|  |
   \    \/   /,' _`.|      ,' / / / /   |          ,' _`.|     |  |
    \     ,-'/  /   \    ,'   | \/ / ,`.|         /  /   \  |     |
     \    \ |   \_/  |   `-.  \    `'  /|  |    ||   \_/  | |\    |
      \    \ \      /       `-.`.___,-' |  |\  /| \      /  | |   |
       \    \ `.__,'|  |`-._    `|      |__| \/ |  `.__,'|  | |   |
        \_.-'       |__|    `-._ |              '-.|     '-.| |   |
                                `'                            '-._|
  </pre>

  <div class="grid min-w-1/4 grid-cols-2 gap-5">
    <a class="rounded-lg bg-gray-100 py-2 px-7 text-center text-lg shadow-md transition duration-100 ease-in-out hover:bg-blue-300"
      href="{{ url_for('table') }}">Table</a>
    <a class="rounded-lg bg-gray-100 py-2 px-7 text-center text-lg shadow-md transition duration-100 ease-in-out hover:bg-blue-300"
      href="{{ url_for('profile') }}">Profile</a>

  </div>
</div>
{% endblock %}