{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="mt-20 flex flex-col items-center gap-5">
  <form method="post" action="{{ url_for('api.login') }}">
    <div class="mb-5">
      <label for="username" class="mb-2 block font-medium text-gray-900">Username</label>
      <input name="username" id="username"
        class="block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-md text-gray-900" required />
    </div>
    <div class="mb-5">
      <label for="password" class="mb-2 block font-medium text-gray-900">Password</label>
      <input type="password" name="password" id="password"
        class="block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-md text-gray-900" required />
    </div>

    <input
      class="rounded-lg bg-gray-100 py-1 px-5 text-center text-md shadow-md transition duration-100 ease-in-out hover:bg-blue-300"
      type="submit" value="Log In" />
  </form>

  {% for message in get_flashed_messages() %}
  <p class="text-red-600">{{ message }}</p>
  {% endfor %}

  <a class="text-sm hover:underline" href="{{ url_for('register') }}">Register here</a>
</div>
{% endblock %}