{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='styles/table.css') }}">
{% endblock %}

{% block title %}Table{% endblock %}

{% block content %}
<table>
  <thead>
    <tr>
      <th scope="col">Username</th>
      {% for id, username in users %}
      <th scope="col">{{ username }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for id, username in users %}
    <tr>
      <th scope="row">{{ username }}</th>
      {% for i in range(users|length) %}
      {% if 1 == 1 %}
      <td>+</td>
      {% elif 1 == 1 %}
      <td>-</td>
      {% else %}
      <td></td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
