{% extends "base.html" %}

{% block title %}Table{% endblock %}

{% block content %}
<div class="rounded-lg bg-gray-100 p-2 m-10 shadow-md">
  <table class="w-full border border-gray-300 text-center bg-white">
    <thead class="bg-gray-100">
      <tr>
        <th class="border border-gray-300 px-4 py-2">Username</th>
        {% for u in usernames.values() %}
        <td class="border border-gray-300 px-4 py-2">{{ u }}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for id, u in usernames.items() %}
      <tr>
        <th class="border border-gray-300 px-4 py-2 font-medium bg-gray-100">{{ u }}</th>
        {% for r in results.values() %}
        {% if id in r[1] %}
        <td class="border border-gray-300 px-4 py-2 bg-green-300"></td>
        {% elif id in r[0] %}
        <td class="border border-gray-300 px-4 py-2 bg-red-300"></td>
        {% else %}
        <td class="border border-gray-300 px-4 py-2 bg-gray-50">–</td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  setInterval(() => {
    fetch("/api/check_update")
      .then(response => response.json())
      .then(data => {
        if (data.update) {
          location.reload();
        }
      })
      .catch(error => console.error("Error checking for updates:", error));
  }, 3000);
</script>
{% endblock %}